#Simulates delay in DB queries
SIMULATE_WAIT_IN_MS=0

#Max size in bytes for image upload
NEXT_PUBLIC_IMAGE_UPLOADER_MAX_SIZE=921600

#Folder name where images are saved after upload
IMAGE_UPLOAD_DIRECTORY=uploads

#Images server full URL without end slash
IMAGE_SERVER_URL='http://localhost:3000/uploads'

#Key used to sign JWT tokens
#Use the file in src/utils/generate-hashed-password.ts (npx tsx) to generate a secret key
JWT_SECRET_KEY='yourSecretKeyHere'

#Time for login expiration
LOGIN_EXPIRATION_SECONDS=86400
LOGIN_EXPIRATION_STRING='1d'

#Cookie name
LOGIN_COOKIE_NAME='loginSession'

#Username to log into the site in /admin/login
LOGIN_USER='user'

#Use the  file in src/utils/generate-hashed-password.ts (npx tsx) to generate your passowrd hash
LOGIN_PASS='yourPasswordHashHere'

#Allow login (0=NO; 1=YES)
ALLOW_LOGIN=1
